#img{
    height:250px;
    width:250px;
}
h1{
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-decoration: underline;
    text-shadow: 2px 2px black;

}
#game{
    background-color:lightpink;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    padding: 35px;
    color: white;

}

#wins{
    font-weight: bold;
    font-size: large;
    color: white;
}

#losses{
    font-weight: bold;
    font-size: large;
    color: white;
}

#guesses{
    font-weight: bold;
    font-size: large;
    color: white;
}

#sofar{
    font-weight: bold;
    font-size: large;
    color: white;
}

.footer {
    padding:2px;
    margin: 2px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightpink;
    color:white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: .5cm;
 }