#img{
    height:250px;
    width:250px;
}

#game{
    background-color: red;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

#wins{
    font-weight: bold;
    font-size: large;
}

#losses{
    font-weight: bold;
    font-size: large;
}

#guesses{
    font-weight: bold;
    font-size: large;
}

#sofar{
    font-weight: bold;
    font-size: large;
}